/*body {
    background-image: url('img1.png');
    background-size: cover;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .create-enterprise-border {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  select {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.646);
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  form input[type="text"] {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.646);
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  form input[type="number"] {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.646);
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  #rating {
    font-size: 2rem;
  }
  
  .star {
    font-size: 2rem;
    cursor: pointer;
    color: #bbb;
  }
  
  .selected {
    color: #f9b74c;
  }
  
  .continue-btn {
    background-color: #d99240;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .continue-btn:hover {
    background-color: #fa8a00;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  hr {
    margin: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  #rating {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  

  @media only screen and (max-width: 767px) {
 
  
    .form-row {
      display: flex;
      flex-direction: column; 
      justify-content: space-between;
      align-items: flex-start;
    }
  

  }*/
  body {
    background-image: url('img1.png');
    background-size: cover;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .create-enterprise-border {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  .star {
    font-size: 2rem;
    cursor: pointer;
    color: #bbb;
  }
  
  .selected {
    color: #f9b74c;
  }
  
  .continue-btn {
    background-color: #d99240;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .continue-btn:hover {
    background-color: #fa8a00;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  hr {
    margin: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  @media only screen and (max-width: 767px) {
    /* styles for small screens */
    .form-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  