.container {
    margin: 5% auto 0;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 80%;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.signin-box {
    border: 2px solid rgb(198, 197, 197);
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

form input[type="text"], form input[type="password"] {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.646);
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

button[type="submit"]:hover {
    background-color: #fa8a00;
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
}

.forgot-password a {
    text-decoration: underline;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: black;
}
button[type="submit"] {
    background-color: #d99240;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
html {
    position: relative;
    min-height: 100%;
  }

  body {
/*background-color: #ADC9CD;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23EDB294'/%3E%3Cstop offset='1' stop-color='%23CD4631'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/
background-image: url('img1.png');
    background-size: cover;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
}


footer {
    width: 100%;
    text-align: center;
    color: black;

    position: absolute;
    bottom: 0;
}

.footer-text {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 100px auto 0;
        padding: 20px;
    }
    h1 {
        font-size: 28px;
    }
    form label, form input[type="text"], form input[type="password"], button[type="submit"], .forgot-password a {
        font-size: 16px;
    }
}