nav{
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}