html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url('img1.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  height: 80%; /* occuper 80% de la page */
}

.container {
  max-width: 80%; /* Modifier la largeur max pour prendre 80% de la largeur de la page */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 48px; /* Augmenter la taille de la police */
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card img {
  width: 100%; /* Ajouter cette ligne pour que l'image prenne toute la largeur de la colonne */
}

.card-title {
  font-size: 24px; /* Augmenter la taille de la police */
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px; /* Augmenter la taille de la police */
  margin-bottom: 5px;
}

.text-muted {
  font-size: 16px; /* Augmenter la taille de la police */
  color: #6c757d;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 100px auto 0;
    padding: 20px;
  }
  h2 {
    font-size: 36px; /* Augmenter la taille de la police */
  }
  .card-title {
    font-size: 20px; /* Augmenter la taille de la police */
  }
  .card-text, .text-muted {
    font-size: 16px; /* Augmenter la taille de la police */
  }
}

.card-top {
  background-color: transparent; /* Rendre le fond transparent */
  margin-bottom: 50px; /* Augmenter la distance avec les autres cartes */
}

.card-top .card-body {
  display: flex;
  justify-content: center; /* Centrer les éléments à l'intérieur */
  align-items: center;
}

.card-top .card-body span:first-child {
  color: black; /* "Offres" en noir */
  margin-right: 10px; /* Ajouter une marge à droite pour séparer les deux éléments */
}

.card-top .card-body span:last-child {
  color: gray; /* "| Entreprises" en gris */
}

/* Centrer les cartes */
ul {list-style: none;
  padding: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les éléments horizontalement */
  }
  
  li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%; /* Les éléments <li> prendront 70% de la largeur du conteneur /
  margin-bottom: 20px; / Ajouter de l'espace entre les cartes */
  }
  
  .card.mb-3 {
  width: 100%; /* Les cartes prendront 100% de la largeur du <li> */
  }
  
  .button-group {
  display: flex; /* Les boutons seront affichés sur une seule ligne */
  }
  
  .button-group button:not(:last-child) {
  margin-right: 10px; /* Ajouter une marge droite sur tous les boutons, sauf le dernier */
  }
  
  .btn {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  }
  
  .btn-orange {
  background-color: orange;
  color: white;
  }
  
  .btn-green {
  background-color: green;
  color: white;
  }
  
  .btn-red {
  background-color: red;
  color: white;
  }