@import url('https://fonts.googleapis.com/css?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html {
  position: relative;
  min-height: 100%;
}

element.style {
  max-width: 900px;
}

a {
  text-decoration: none;
  color: inherit;

}

a:hover {
  text-decoration: none;
  color: inherit;
}

#enter{
  /* Change text color to grey*/
  margin-top: 0;
  color: grey;
  font-size: 22px;
}

body {
  margin: 0;
  min-height: 100px;
  /*Laisser de l'espace vide en haut */
  padding-top: 0px;
  font-family: Poppins ExtraBold, sans-serif;
  background-image: url('img1.png');
  background-size: cover;
  background-repeat: repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-attachment: fixed;

  height: 100%; /* occuper 80% de la page */
}

.create{
  /*Aligner a droite le texte et le span*/
  text-align: right;
  align-items: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  
}


span{
  font-family: Dela Gothic One, sans-serif;
  font-size: 1.5em;
}

h5 {
  font-family: Dela Gothic One, sans-serif;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card img {
  width: 100%; /* Ajouter cette ligne pour que l'image prenne toute la largeur de la colonne */
}

.card-title {
  font-size: 24px; /* Augmenter la taille de la police */
  margin-bottom: 5px;
}

.card-text {
  font-size: 18px; /* Augmenter la taille de la police */
  margin-bottom: 5px;
}

.text-muted {
  font-size: 16px; /* Augmenter la taille de la police */
  color: #6c757d;
}

@media only screen and (max-width: 768px) {
  .container {

    padding: 20px;
  }
  h2 {
    font-size: 36px; /* Augmenter la taille de la police */
  }
  .card-title {
    font-size: 20px; /* Augmenter la taille de la police */
  }
  .card-text, .text-muted {
    font-size: 16px; /* Augmenter la taille de la police */
  }
}

.card-top {
  /* Rendre le fond blanc avec de la transparence*/
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 50px; /* Augmenter la distance avec les autres cartes */
}

.card-top .card-body {
  display: flex;
  justify-content: left; /* Centrer les éléments à l'intérieur */
  align-items: center;
}

.card-top .card-body span:first-child {
  color: black; /* "Offres" en noir */
  margin-right: 1%; /* Ajouter une marge à droite pour séparer les deux éléments */
}

.card-top .card-body span:last-child {
  color: gray; /* "| Entreprises" en gris */
}

/* Centrer les cartes */
ul {list-style: none;
  padding: auto;
  margin: auto;
  display: flex;
  }
  
  li {
  display: flex;

  align-items: center;
  width: 70%; 
  margin: 0 auto;
 
  }
  
  .card.mb-3 {
  width: 100%; /* Les cartes prendront 100% de la largeur du <li> */
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-content: center;  
    /* ajouter un espace a droite */
    margin-right: 10%;
    margin-left: 10%;
  }

  /* créer un média pour changer le flex du button-group */
  @media only screen and (max-width: 1000px) {
    .button-group {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  
  .btn {
    /* Adaptation de la taille des boutons selon la taille de l'écran */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;

  }
  
  .btn-orange {
  background-color: orange;
  color: white;
  }
  
  .btn-green {
  background-color: green;
  color: white;
  /* ajouter un espace a droite  et a gauche */
  margin-right: 2%;
  margin-left: 2%;
  }

  .btn-red {
    background-color: red;
    color: white;
    /* ajouter un espace a droite  et a gauche */
    margin-right: 2%;
    margin-left: 2%;
    }
  



.container {
  margin-top: 50px;

}