/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  @font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Static/Montserrat-SemiBold.ttf') format('woff2'),
         url('Montserrat/Montserrat-VariableFont_wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  
  /* Navbar styles */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    color: rgb(222, 115, 8);
    /*margin-left: 10px;*/
  }
  
  .navbar-brand .divider {
    margin: 0 10px;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: grey;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: black;
  }
    .nav-link1 {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .nav-link1:hover {
    color: grey;
  }
  .search-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    outline: none;
  }
  
  /*.profile-section {
    margin-right: 40px;
  }
  .sign-section {
    margin-right: 10px;
  }*/
  
  .hamburger {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Add this new rule 
  .nav-item.search-item {
    display: none;
  }*/
  
  /* Add new rules */
  .desktop-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }
  
  /* Update the existing media query */
  @media (max-width: 1230px) {

    .btn-c{
      width: 100%;
      display: block;

      }
    
    .btn-m{
      width:100%;
      display: block;
    
    }
    .nav-list {
      position: absolute;
      top: 100%;
      
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      display: none;

      text-align: center;
    }
  
    .nav-list.nav-list-active {
      display: flex;
    }
  
    .nav-item {
      margin: 10px;
      text-align: center;
    }
  
    .nav-item.search-item,
    .nav-item.profile-item,
    .nav-item.sign-item {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .search-input {
      width: 100%;
    }
  
    .desktop-only {
      display: none;
    }
  
    .mobile-only {
      display: block;
    }
  
    .profile-section,
    .sign-section {
      display: none;
    }
  }

  ul {list-style: none;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    }
    
    li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    align-items: center;
   
    }

    .container {
      margin-top: 50px;
    
    }

    body{
      padding-top:0px;
    }

    .card-top {
      background-color: rgba(255, 255, 255, 0.9);
      margin-bottom: 15px;
  }

.btn-c{
  background-color: #ffffff;

  }

.btn-m{
    background-color: #ffffff;



}

.back-b{
  /*modifie le texte pour en faire un bouton jaune avec des bords circulaires et un texte blanc*/
  background-color: orange;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;

}

.sel{
  font-size: 1.5em;
}